# ComputerVision
# Исключить папку с данными
CV/01.Classification_Images/data/
CV/03.Semantic Segmentation/data/

# Исключить папку с данными
CV/01.Classification_Images/test_pics/
CV/02.ML trainings 3.0 Yandex /hw_06/best_pictures/


# Временно не буду проектик пушить
CV/04. Chroma Key/chroma-key-venv/

CV/05.ObjectDetection/od-venv/
CV/05.ObjectDetection/models/
CV/05.ObjectDetection/data/

CV/06.CarNumbersWithYolo/data/
CV/06.CarNumbersWithYolo/models/
CV/06.CarNumbersWithYolo/cnenv/

CV/07.CarNumberPlates/data/
CV/07.CarNumberPlates/models/
CV/07.CarNumberPlates/cvenv/
CV/07.CarNumberPlates/cert/

CV/08.Segmentation/data/
CV/08.Segmentation/task/
CV/08.Segmentation/task/
CV/08.Segmentation/configs/logger/cometml.yaml
CV/08.Segmentation/configs/logger/wandb.yaml
CV/08.Segmentation/outputs


# Исключить виртуальное окружение
CV/01.Classification_Images/CIenv/
CV/02.ML trainings 3.0 Yandex /yandexenv
CV/02.ML trainings 3.0 Yandex /hw_01_mnist_classification/*.npy
CV/02.ML trainings 3.0 Yandex /hw_01_mnist_classification/*.json
CV/02.ML trainings 3.0 Yandex /hw_01_mnist_classification/FashionMNIST/
CV/02.ML trainings 3.0 Yandex /hw_01_mnist_classification/MNIST/
CV/02.ML trainings 3.0 Yandex /hw_02_edge_detection/FashionMNIST
CV/03.Semantic Segmentation/semanticenv/

# Audio
# Исключить папку с данными
Audio/01.Talium_TTS/data/
Audio/03. ASR/data
Audio/03. ASR/wandb
Audio/05.MorzeDecoder/data
Audio/05.MorzeDecoder/morzeenv

# Исключить виртуальное окружение
Audio/01.Talium_TTS/TTSenv
Audio/01.Talium_TTS/TTSenv310
Audio/02. DL in Audio HSE (ASR, TTS)/DLAvenv
Audio/03. ASR/ASRvenv
Audio/04.ASR_DeepSpeech2_English/ASRvenv


# Исключить папку с временными файлами модели для обучения
Audio/01.Talium_TTS/run


# ClassicML
# Исключить папку с данными
ClassicML/01.A-Money/data
ClassicML/01.A-Money/catboost_info
ClassicML/01.A-Money/.ipynb_checkpoints
# Исключить виртуальное окружение
ClassicML/01.A-Money/Classicenv


# Исключаем не нужные файлы
**/__pycache__
*.pyc

