# ComputerVision
# Исключить папку с данными
CV/01.Classification_Images/data/

# Исключить папку с данными
CV/01.Classification_Images/test_pics/

# Исключить виртуальное окружение
CV/01.Classification_Images/CIenv/


# Audio
# Исключить папку с данными
Audio/01.Talium_TTS/data/
Audio/03. ASR/data
Audio/03. ASR/wandb
# Исключить виртуальное окружение
Audio/01.Talium_TTS/TTSenv
Audio/01.Talium_TTS/TTSenv310
Audio/02. DL in Audio HSE (ASR, TTS)/DLAvenv
Audio/03. ASR/ASRvenv

# Исключить папку с временными файлами модели для обучения
Audio/01.Talium_TTS/run


# ClassicML
# Исключить папку с данными
ClassicML/01.A-Money/data
ClassicML/01.A-Money/catboost_info
ClassicML/01.A-Money/.ipynb_checkpoints
# Исключить виртуальное окружение
ClassicML/01.A-Money/Classicenv


# Исключаем не нужные файлы
**/__pycache__
*.pyc

