# Основные библиотеки для загрузки и обработки изображений
scikit-image==0.21.0
numpy==1.24.4
matplotlib==3.7.1

# Jupyter/IPython
ipykernel==6.29.4
jupyterlab==4.1.5

# PyTorch и TorchVision (стабильные версии под Python 3.10 и CUDA 11.8/CPU)
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torchsummary==1.5.1

# Загрузка данных
wget==3.2

# Прочее
tqdm==4.66.1
